{{define "base"}}
<!doctype html>
<html>
  <head>
{{template "headtag" .}}
  </head>
  <body>
    <div class="ui fixed inverted menu">
      <div class="ui container">
        <a href="/" class="item">Detect Sentiment</a>
        <a href="/detect/dominantlanguage" class="item">Detect DominantLanguage</a>
        <a href="/detect/entities" class="item">Detect Entities</a>
        <a href="/detect/keyphrases" class="item">Detect KeyPhrases</a>
        <a href="/detect/syntax" class="active item">Detect Syntax</a>
      </div>
    </div>
    <h1 class="ui center aligned header">Comprehend</h1>
    <h2 class="ui center aligned header">Detect Syntax</h2>
    <div class="main ui container">
      <form class="ui segment" method="POST">
        <div class="content">
          <div class="ui form">
            <div class="field">
              <label>Message</label>
              <div class="ui input">
                <textarea id="message" name="message" rows="3"></textarea>
              </div>
            </div>
            <div class="field">
              <div id="submit" class="ui green button" onclick="SubmitForm();">Send</div>
            </div>
          </div>
        </div>
        <input id="action" type="hidden" name="action" value="detectsyntax">
      </form>
    </div>
    <div id="warning" class="ui hidden warning message"></div>
    <div id="info" class="ui hidden info message">
      <i class="close icon"></i>
      <div class="header">
        Result
      </div>
      <p id="result"></p>
    </div>
  </body>
</html>
{{end}}
